body {
    font-size: 16px;
    background-image: url("pozadina.jpg");
    background-size: 100%;
    overflow: hidden;

}

.cointainer {
    margin-top: 20rem;
    perspective: 200px;
}

.put {
    width: 180%;
    height: 10rem;
    background-color: silver;
    display: flex;
    min-height: 100%;
    margin: 0;
    place-items: center;
    transform: rotateX(30deg) translateX(-30%);

}

.traka {
    width: 15%;
    height: 1rem;
    background-color: white;
    animation-name: traka;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.traka+.traka {
    margin-left: 3%;
}

body>div>div.drvo>img {
    height: 18em;
    width: auto;
}

.car {
    position: absolute;
    z-index: 3;
    
    bottom: -40%;
    left: 10%;
    transform: rotateY(180deg);
    top: 30%;
}

div.car img,
body>div>div.put>div.car.dr>img {
    padding: 0%;
    width: 600px;
    height: auto;
}

body>div>div.drvo>img:nth-child(2) {
    float: right;
}

.drugi {
    position: absolute;
    top: 43%;
   
    animation-name: car;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.drvo {
    animation-name: drvo;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-bottom: -1.2rem;

}

.drugi:hover {
    transform: rotateY(180deg);
    animation-direction: reverse;
    
}

@keyframes traka {
    0% {
        transform: translateX(0%);

    }

    100% {
        transform: translateX(-134%);
    }
}

@keyframes car {
    0% {
        transform: translateX(-250%);
    }

    100% {
        transform: translateX(250%);
    }
}

@keyframes drvo {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.drugi>img {
    transform: rotateY(180deg);
}

.drugi>img:hover {
    transform: rotateY(0deg);
}

.traka:nth-child(3){
    margin-left:8.8%;
}