body {
    background-color:rgb(187, 249, 201);
    min-height:100vh;
    margin: 0;
    display:grid;
    place-items:center;
}

.main-button {
    height:auto;
}

.todos {
    padding: .1rem;
    border: 1px solid rgba(0, 0, 0, .1);
}

.wrapper {
    min-width: 50%;
    min-height: 30%;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
    padding-bottom: 30px; 
    align-items: center;
    background-color: rgb(72, 210, 30);
}

.form-input{
    margin: 20px;
}

body > div > form > div > input[type=text]{
    width: 400px;
    height: 30px;
    border-radius: 1rem;
}

.todo {
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    padding: .5rem;
    border: .5px solid rgba(0, 0, 0, .3);
    border-radius: 1rem;
}
.todo{
    margin: 1em;
    border-radius: 1rem;
}
.todos{
    width: 80%;
}

button {
    margin-left: auto;
    height:1rem;
background-color: rgb(74, 74, 254);
border-radius: 0.51rem;
}