*{
    text-align: center;
}
.cointener{
    display: flex;
    border: 1px solid black;
}
.left{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid black;
}
.right{
    display: flex;
    flex-direction: column;
    flex: 2;
    border: 1px solid black;
}
.prvi{
    display: flex;
    border: 1px solid black;
}
.h2,.h3{
    flex: 1;
    border: 1px solid black;
}

.drugi{
    border: 1px solid black;
}
.treci{
    display: flex;
    border: 1px solid black;
}
.c3,.c4{
    flex: 1;
    border: 1px solid black;
}

.h1{
    border: 1px solid black;
    flex: 1;
}
.c1{
    border: 1px solid black;
    flex: 2;
}