#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
  }
  
  #card-container div {
    width: 250px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    overflow: auto;
  }
  
  .pagination-container {
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
  }
  .pagination-container button {
    margin: 5px;
    font-size: 1.6rem;
  }