 
body{
    display: flex;
    justify-content: center;
}
.cointainer{
    height: 100vh;
    width: 55vw;
    background-color: aqua;
    
}
.cointainer *{
    border: solid 1px black;
}
.start{
    width: 100%;
    height: 10%;
    background-color: chocolate;
    align-self: flex-start;
}

.end{
    width: 100%;
    height: 15%;
    background-color: chocolate;
}